@charset "utf-8";
@import url(reset.css);

#service {
    width: 90rem;
    padding: 2.188rem;
    border-radius: 1.25rem;
    background: #FDF8F4;
    box-shadow: 0 0 1rem 0.313rem #00015910;
    margin: 0 auto 2.813rem;
}

#service h3 {
    text-align: center;
    font-size: 1.625rem;
    margin-bottom: 2.813rem;
}

#service .card-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.188rem;
}

#service .card-list .service-card {
    width: 20rem;
    height: 25rem;
    border-radius: 1.25rem;
    background: linear-gradient(#FDF8F4, #E9C1A1);
    box-shadow: inset -7px -7px 10px 3px #00015917;
}

.service-card a {
    display: inline-block;
    width: 20rem;
    height: 25rem;
    padding: 2.5rem 0;
    text-align: center;
}

.service-card a img {
    width: 16.875rem;
    height: 15.625rem;
}

.service-card .card-text {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.7;
}

@media (max-width: 768px) {

    #service h3 {
        font-size: 3.25rem;
    }

    #service .card-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #service .card-list .service-card {
        width: 40rem;
        height: 50rem;
    }

    .service-card a {
        width: 40rem;
        height: 50rem;
        padding: 2.5rem 0;
    }

    .service-card a img {
        width: 33.75rem;
        height: 31.25rem;
    }

    .service-card .card-text {
        font-size: 2.25rem;
    }
}