@charset "utf-8";
@import url(reset.css);

#survey {
    width: 90rem;
    margin: 0 auto;
}

#survey .survey-main {
    width: 75rem;
    margin: 0 auto 9.375rem;
}

.survey-main .maintitle-group {
    padding: 10rem 0 4.375rem;
    text-align: center;
}

.survey-main .maintitle-group .title {
    font-size: 1.875rem;
    margin-bottom: 1rem;
}

.survey-main .survey-item {
    padding-left: 6.25rem;
}
.survey-question {
    margin-bottom: 5rem;
}
.survey-question .question {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.875rem;
}
.survey-question .choice {
    display: flex;
    gap: 5.938rem;
    font-size: 1.125rem;
}
.survey-main .finish {
    display: block;
    width: 7.25rem;
    height: 2.5rem;
    margin: 0 auto;
    border: 1px solid #000159;
    border-radius: 0.625rem;
}
.survey-recommend {
    background: #FDF8F4;
    padding: 5rem 0;
}
.survey-recommend .title-group {
    text-align: center;
}
.title-group .top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.title-group .top img {
    width: 2.188rem;
    height: 2.188rem;
}
.title-group .top .title {
    font-size: 1.875rem;
    margin: 1rem 0;
}